<h1>Dear <%= @user.full_name %>!</h1>
<p>Unfortunately your most recent invoice payment was declined.</p>
<p>This could be due to a change in your card number or your card expiring, cancelation of your credit card,
or the bank not recognizing the payment and taking action to prevent it.</p>
