- if policy(comment).edit?
  = link_to t('app.button.edit'), edit_post_comment_path(comment.post, comment), class: 'button edit-button'
- if policy(comment).delete?
  = link_to t('app.button.delete'), post_comment_path(comment.post, comment), class: 'button edit-button', method: :delete
